html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.custom li {
  position: relative;
  list-style: none;
  color: silver;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.custom li::after {
  content: "";
  position: absolute;
  background-color: #0ef;
  height: 5px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: all 0.5s ease;
}

.custom li:hover::after {
  width: 100%;
}

.container-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 25%;
  height: 400px;
  gap: 5px;
  margin:auto;
}

.container-custom img {
  width: 45%;
  height: 100%;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 10px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.container-custom img:hover {
  width: 100%;
}

.navbar-brand img {
  max-width: 100%;
  width: 40px;
  height: 40px;
}

.my-navbar{
  margin:auto;
}

.carousel-control-prev-icon {
  filter: invert(90%);
}

.carousel-control-next-icon {
  filter: invert(90%);
}

.carousel-image {
  height: 300px; 
  object-fit: cover;
}

.carousel-item-details img {
  width: 100%; 
  height: auto; 
}

.carousel-item-details img {
  width: 450px; 
  height: 550px; 
}

.text-description{
  border-radius: 15px;
  background-color: #FFFAFA;
  overflow: auto;
  max-height: 300px;
}

.image-back{
  background-color: #F5FFFA;
  border-radius: 15px;
}

.no-style {
  list-style-type: circle;
}

.custom-player {
  max-width: 600px; 
  margin: 0 auto; 
}

.custom-player video {
  width: 100%; 
  height: 600px; 
  max-height: 100%;
}

.custom-icon{
  color: black;;
}

.custom-button {
  font-size: 1.2rem; 
  padding: 3px 10px; 
  border-radius: 50%; 
  background-color: #007bff; 
  color: white; 
  border: none; 
  cursor: pointer; 
}

.custom-button:hover {
  background-color: #0056b3; 
}

.card{
  border-radius: 10%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Уменьшение ширины модального окна */
}

.modal-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.image-management {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.image-item img {
  flex: 0 0 auto;
  margin-right: 10px;
}

.image-item .btn-group {
  flex: 0 0 auto;
  display: flex;
  gap: 5px;
}

.image-item .btn {
  width: 40px;
  height: 40px;
  font-size: 16px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; /* Закругленные углы для кнопок */
}
