@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@using ElStore.Models
@inject IHttpContextAccessor HttpContextAccessor
@using ElStore.Utility
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ElStore.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/images/title2.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/title2.png" width="10%"  alt="HomeImage"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav custom">
                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-controller="Phones" asp-action="Index">Phones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-controller="Headphones" asp-action="Index">Headphones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-controller="Watches" asp-action="Index">Watches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-controller="Laptops" asp-action="Index">Laptops</a>
                        </li>
                        <li>
                            @if (HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WC.SessionCart) != null)
                            {
                                <a asp-action="Index" asp-controller="Cart" class="nav-link">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WC.SessionCart).Count; 
                                    }
                                    <i class="fa fa-shopping-cart"></i> (@count)
                                </a>
                            }
                            else
                            {
                                <a asp-action="Index" asp-controller="Cart" class="nav-link">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            }
                        </li>
                        <li class="nav-item">
                            
                                @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                                {
                                    <span>@HttpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.Email)</span>
                                    <a asp-controller="User" asp-action="Login" class="nav-link text-white-50">
                                       <i class="fa fa-user-circle-o"></i> 
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="User" asp-action="Register" class="nav-link text-white-50">
                                        <i class="fa fa-user-circle-o"></i> 
                                    </a>
                                    <a asp-controller="User" asp-action="Login" class="nav-link text-white-50">
                                        <i class="fa fa-user-circle-o"></i> 
                                    </a>
                                }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-white-50">
            &copy; 2024 - ElStore
            <a href="https://www.instagram.com/_2i_i7_/" target="_blank" style="display: inline-block; position: absolute; right: 50px; top: 0;">
                <img src="https://icon-library.com/images/instagram-icon-png-white/instagram-icon-png-white-1.jpg" alt="Instagram" style="max-width: 30px; height: auto;" />
            </a>
            <a href="https://t.me/IIIqwertyII" target="_blank" style="display: inline-block; position: absolute; right: 90px; top: 0;">
                <img src="https://cdn-icons-png.flaticon.com/256/226/226253.png" alt="Telegram" style="max-width: 17px; height: auto;" />
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
