<p>Payments: </p>
<ul class="no-style">
    <li>Cash</li>
    <li>Card</li>
    <li>Cryptocurrency</li>
</ul>
<p>Delivery: </p>
<ul class="no-style">
    <li>Ukrposhta</li>
    <li>Novaposhta</li>
    <li>Self-collection from stores</li>
</ul>
