@{
    ViewData["Title"] = "Home";
}

<div class="container-custom">
    <img src="~/images/phone.jpg" alt="phone" />
    <img src="~/images/hearphones.jpg" alt="hearphone" srcset="" />
    <img src="~/images/watches.jpg" alt="watches" srcset="" />
    <img src="~/images/laptops.jpg" alt="laptop" srcset="" />
</div>

<div class="text-center">
    <h1 class="display-4">Pictures, Sliders and etc.</h1>
</div>